<div class="row">
    <div class="medium-8 columns">
        <h1>The Admin Index</h1>
        <p>This will be full of stats for the site.</p>
    </div>
    <div class="medium-4 callout columns">
        <h4>Account Stats:</h4>
        <ul>
            <li>Caterers: [% data.stats.num_clients %]</li>
            <li>Marketers: [% data.stats.num_marketers %]</li>
            <li>Users: [% data.stats.num_users %]</li>
        </ul>
    </div>
</div>
