<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catering Services</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.0/foundation.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

        <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">
                        <a href="/"><img src="http://placehold.it/250x50&text=Catering Logo"></a></li>
                    <li class="has-submenu">
                        <a href="#">Browse Caterers</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#">By Location</a></li>
                            <li><a href="#">By Cuisine</a></li>
                        </ul>
                    </li>
                    <li><a href="#">FAQ</a></li>
                    [% IF session.user %]
                    <li><a href="/logout">Log Out</a></li>
                    [% ELSE %]
                    <li><a href="/login">Sign In / Register</a></li>
                    [% END %]
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li class="menu-text"><input type="search" placeholder="Search"></li>
                    <li class="menu-text"><button type="button" class="button">Search</button></li>
                </ul>
            </div>
        </div>
        [% IF deferred.error_message %]
        <div class="row">
            <div class="alert callout small data-closable">
                ERROR: [% deferred.error_message %]
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        [% END %]
        [% IF deferred.notify %]
        <div class="row">
            <div class="primary callout small data-closable">
                [% deferred.notify %]
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        [% END %]
        [% IF deferred.success %]
        <div class="row">
            <div class="success callout small data-closable">
                [% deferred.success %]
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        [% END %]


        [% content %]


        <footer class="row">
            <div class="small-12 columns">
                <hr/>
                <div class="row">
                    <div class="small-12 medium-4 columns">
                        <p>&copy; 2016 MRM</p>
                    </div>
                    <div class="small-12 medium-8 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <a href="/tos.html">Terms of Service</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="/privacy.html">Privacy Policy</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="/contact_us.html">Contact Us</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="/about_us.html">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript">/* <![CDATA[ */
            !window.jQuery && document.write('<script type="text/javascript" src="http://localhost:3000/javascripts/jquery.js"><\/script>')
        /* ]]> */</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.0/foundation.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.0/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

        <!-- post footer starts -->

        <script>
            // Your code goes here
        </script>
    </body>
</html>
