<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>That's Catering!</title>

        <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
        [%# <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> %]
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.0/foundation.min.js"></script>
        <script type="text/javascript" src="/javascripts/vendor/notifIt.min.js"></script>
        <script type="text/javascript" src="/javascripts/vendor/jquery.star-rating-svg.min.js"></script>
        <script type="text/javascript" src="/javascripts/catering.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.0/foundation.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/notifIt.css">
        <link rel="stylesheet" type="text/css" href="/css/star-rating-svg.css">

        <script type="text/javascript">
            function showSuccess( msg )
            {
                notif(
                        {
                            msg:       msg,
                            type:      'success',
                            position:  'center',
                            width:     600,
                            autohide:  true,
                            opacity:   0.9,
                            fade:      true,
                            clickable: true,
                            multiline: true,
                        }
                );
            }
            function showWarning( msg )
            {
                notif(
                        {
                            msg:       msg,
                            type:      'warning',
                            position:  'center',
                            width:     600,
                            autohide:  false,
                            opacity:   0.9,
                            fade:      true,
                            clickable: true,
                            multiline: true,
                        }
                );
            }
            function showError( msg )
            {
                notif(
                        {
                            msg:       msg,
                            type:      'error',
                            position:  'center',
                            width:     600,
                            autohide:  false,
                            opacity:   0.9,
                            fade:      true,
                            clickable: true,
                            multiline: true,
                        }
                );
            }
            function showInfo( msg )
            {
                notif(
                        {
                            msg:       msg,
                            type:      'info',
                            position:  'center',
                            width:     600,
                            autohide:  false,
                            opacity:   0.9,
                            fade:      true,
                            clickable: true,
                            multiline: true,
                        }
                );
            }
        </script>

        [% IF use_editor %]
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({
                                selector:'textarea.editor',
                                menubar: 'edit insert view format tools',
                                toolbar: 'undo redo | styleselect | fontselect fontsizeselect forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | charmap link spellchecker',
                                plugins: 'autolink link lists charmap preview wordcount textcolor colorpicker',
                                browser_spellcheck: true,
                            });
            [% IF word_limit %]
            // Returns text statistics for the specified editor by id
            function getStats(id) {
                var body = tinymce.get(id).getBody(), text = tinymce.trim(body.innerText || body.textContent);

                return {
                    chars: text.length,
                    words: text.split(/[\w\u2019\'-]+/).length
                };
            }

            function submitForm( content ) {
                // Check if the user has entered less than 100 words
                if (getStats(content).words > [% word_limit %]) {
                    showError( "You need to enter fewer than [% word_limit %] words." );
                    return;
                }

                // Submit the form
                document.getElementById( 'editor_form' ).submit();
            }
            [% END %]
        </script>
        [% END %]

        [% IF deferred.error_message || msgs.error_message || deferred.notify || deferred.success %]
        <script>
            $(document).ready( function () {
        [% IF deferred.error_message || msgs.error_message %]
            [% IF msgs.error_message %][% message = msgs.error_message %][% ELSE %]
            [% message = deferred.error_message %][% END %]
                showError( '[% message %]' );
        [% END %]
        [% IF deferred.notify %]
                showInfo( '[% deferred.notify %]' );
        [% END %]
        [% IF deferred.success %]
                showSuccess( '[% deferred.success %]' );
        [% END %]
            });
        </script>
        [% END %]
    </head>
    <body>
        <div class="top-bar" data-equalizer>
            <div class="top-bar-left" data-equalizer-watch>
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">
                        <a href="/"><img src="http://placehold.it/250x50&text=That's Catering!"></a></li>
                    <li class="menu-text has-submenu">
                        <a href="#"><i class="fi-magnifying-glass"></i> Browse Caterers</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#"><i class="fi-map"></i> By Location</a></li>
                            <li><a href="#"><i class="fi-heart"></i> By Cuisine</a></li>
                        </ul>
                    </li>
                    <li class="menu-text"><a href="#"><i class="fi-megaphone"></i> FAQ</a></li>
                </ul>
            </div>
            <div class="top-bar-right align-middle" data-equalizer-watch>
                <ul class="menu" data-dropdown-menu>
                    [% IF session.user %]
                    <li class="menu-text"><a href="/account"><i class="fi-home"></i> [% session.user %]</a></li>
                    <li class="menu-text"><a href="/logout"><i class="fi-power"></i> Log Out</a></li>
                    [% ELSE %]
                    <li class="menu-text"><a href="/login"><i class="fi-key"></i> Sign In / Register</a></li>
                    [% END %]
                </ul>
            </div>
        </div>
        [% IF breadcrumbs %]
        <div class="row">
            <div class="small-12 columns">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        [% FOREACH crumb IN breadcrumbs %]
                        [% IF crumb.disabled %]
                        <li class="disabled">[% crumb.name %]</li>
                        [% ELSIF crumb.current %]
                        <li>
                            <span class="show-for-sr">Current: </span> [% crumb.name %]
                        </li>
                        [% ELSE %]
                        <li><a href="[% crumb.link %]">[% crumb.name %]</a></li>
                        [% END %]
                        [% END %]
                    </ul>
                </nav>
            </div>
        </div>
        [% END %]


        [% content %]


        <footer style="visibility:hidden;">
            <div class="row">
                <div class="small-12 columns">
                    <hr/>
                    <div class="row">
                        <div class="small-12 medium-4 columns">
                            <p>
                                &copy; 2016 <strong>That's Catering!</strong> &middot; All Rights Reserved<br>
                                <small>This product includes GeoLite2 data created by MaxMind, available from <a href="http://www.maxmind.com">http://www.maxmind.com</a>.</small>
                            </p>
                        </div>
                        <div class="small-12 medium-8 columns">
                            <div class="row">
                                <div class="small-3 columns text-center">
                                    <a href="/tos">Terms of Service</a>
                                </div>
                                <div class="small-3 columns text-center">
                                    <a href="/privacy">Privacy Policy</a>
                                </div>
                                <div class="small-3 columns text-center">
                                    <a href="/contact_us">Contact Us</a>
                                </div>
                                <div class="small-3 columns text-center">
                                    <a href="/about_us">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            $(document).foundation();
        </script>

        <!-- post footer starts -->

        <script src="/javascripts/vendor/stickyFooter.js"></script>
        <script>
            // Your code goes here
        </script>
    </body>
</html>
